# Create the file
~/.gitignore_global

# Add the file to the Git configuration
git config --global core.excludesfile ~/.gitignore_global

# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
